{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}

<div id="main" class="container-fluid blue " >
<h1 style="text-align:center; color:rgb(253, 253, 253);" > <img float="right" src="https://mbtskoudsalg.com/images/award-transparent-real-5.png" alt="" height="150px"> AWARDS </h1>
<h6 style="text-align:center; color:rgb(253, 253, 253);">{{date|date:"l d-F Y"}}</h6>
   
<div class="mail">
        <form action="">
            <input type="text" name="search" class="formStyle" placeholder="Search" required />

             <a href="#" class="formButton">Search</a>


      </form>
    </div>
</div>

{% endblock %}